{% extends "core/base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 round-xl">
    <h1 class="mb-6 text-3xl">Sign Up</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {% comment %} {{form.as_p}} {% endcomment %} -->


        <div class="mb-3">
            <label for="" class="inline-block mb-2">Username</label><br>
            {{form.username}}
        </div>

        <div class="mb-3">
            <label for="" class="inline-block mb-2">Password</label><br>
            <div class="relative">
              {{form.password}}
               <span id="togglePassword" class="absolute inset-y-0 right-3 flex items-center cursor-pointer select-none text-gray-600">👁️</span>
            </div>
        </div>
    
        {% if form.errors or form.non_field_errors %}
          <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
              {{field.errors}}
            {% endfor %}
            {{form.non_field_errors}}
          </div>
        {% endif %}
          <button type="submit" class="py-4 px-8 text-lg bg-teal-500 hove:bg-teal-700 rounded-xl text-white" >Submit</button>
    </form>
    </div>

    <script>
      function togglePassword(inputId, toggleId){
          const input = document.getElementById(inputId);
          const toggle = document.getElementById(toggleId);

            toggle.addEventListener("click", () => {
            const isHidden = input.type === "password";
            input.type = isHidden ? "text" : "password";
            toggle.textContent = isHidden ? "🙈" : "👁️";
        });
      }

      togglePassword("id_password", "togglePassword");
    </script>
{% endblock content %}